/************************  选择附件信息  ************************/

#accessories-info > div {
    margin-top: 18px;
    margin-bottom: 8px;
}
#accessories-info .form-row {
    border-bottom: rgba(0, 0, 0, .12) solid 1px;
    margin-bottom: 20px;
    margin-right: 16px;
    height: auto;
}
#accessories-info .content-area {
    margin-left: 72px;
    padding-bottom: 9px;
    display: block;
}
/*#accessories-info #service-detail .form-row {
    margin-bottom: 20px;
    height: auto;
}*/

#accessories-info .site-icons {
    margin-top: 6px;
}
/* 自行购买or选择摩卡配件 提示弹窗 */

.buyelse-popup .title {
    margin: 24px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.87);
    text-align: left;
}
#accessories-info .custom-select-trigger {
    font-size: 14px;
    line-height: 24px;
}
#accessories-info .custom-select-trigger .price {
    float: right;
    margin-right: 30px;
}
#accessories-info .first, #schedule-success .first, #accessories-info .second, #schedule-success .second {
    width: 49%;
    display: inline-block;
    height: 100%;
    font-size: 20px;
}
#accessories-info .second, #schedule-success .second {
    float: right;
    margin-left: 2%;
    width: 49%;
}
#accessories-info select {} #accessories-info option {
    font-size: 20px;
}
#accessories-info select {
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0;
    font-size: 16px;
    border: none;
    outline: none;
}
.justify {
    display: table;
    height: 100%;
    width: 100%;
}
#accessories-info .info, #accessories-info .accessory, #accessories-info .last {
    height: 40px;
    line-height: 40px;
}
#accessories-info .info {
    font-size: 16px;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 16px;
    color: #757575;
    font-weight: normal;
}
#accessories-info .accessory {
    height: 20px;
    /*line-height: 20px;*/
    /*color: #60C900;*/
}
#accessories-info .last {
    float: right;
    margin-right: 20px;
    color: #8C8C8C;
}

#accessories-info .input-row{
    padding-bottom: 0;
}
#accessories-info #service-detail .input-row{
    height: auto;
}

#accessories-info .form-row input{
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    height: 36px;
    /* line-height: 40px; */
    /* margin-top: 50px; */
    padding: 0;
    font-size: 14px;
    border: none;
    outline: none;
}