/************************  上门信息  ************************/
#schedule-info{
    overflow: hidden;
    clear: both;
}
.height80px{
    height: 80px;
}
.height109px{
    height: 109px;
}
.height110px{
    height: 110px;
}
.mt20px{
    margin-top: 20px;
}
.mt40px{
    margin-top: 40px;
}
.mt60px{
    margin-top: 60px;
}
.ml60px{
    margin-left: 60px;
}
.ml130px{
    margin-left: 130px;
    display: block;
}
.border-buttom{
    border-bottom: #DB23DB solid 1px;
}
.zero-font-size{
    font-size: 0;
}
.content-area{
    display: block;
    margin-left: 60px;
    margin-top:20px;
}
.site-icons{
    float: left;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #DB23DB;
}
.icon-generalAddress{
    background:url('http://127.0.0.1:8088/doc/pic/icons/02.png') no-repeat fixed 0 0; 
}
#schedule-info .first,#schedule-success .first,#schedule-info .second,#schedule-success .second{
    width: 49%;
    display: inline-block;
    height: 100%;
    font-size: 20px;
}
#schedule-info .second,#schedule-success .second{
    float: right;
    margin-left: 2%;
    width: 49%;
}
#schedule-info select{
    
}
#schedule-info option{
    font-size: 16px;
}
#schedule-info select, #detailAddressInput, #carNoInput,#nameInput,#phoneInput{
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    height: 40px;
    line-height: 40px;
    /*margin-top: 50px;*/
    padding: 0;
    font-size: 16px;
    border: none;
    outline: none;
}