/************************  reset  ************************/

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    min-width: 320px;
    max-width: 800px;
    margin: 0 auto;
    font-family: "Helvetica Neue", Hiragino Sans GB, Heiti SC, "微软雅黑", Verdana, sans-serif, SimHei, "黑体";
    font-size: 14px;
    line-height: 20px;
    color: #000;
    background-color: #fff;
}
dl, dd, h1, h2, h3, h4, h5, h6, p, form {
    margin: 0;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
input, button, textarea {
    border: 0 none;
}
a {
    text-decoration: none;
}
img {
    display: block;
}
.dn {
    display: none;
}
.fadeout {
    display: none;
}
.fadein {
    position: relative;
    left: 0;
    -webkit-animation: fadein .5s cubic-bezier(0, 0, 0.25, 1);
}
@keyframes fadein {
    0% {
        -webkit-transform: translateX(320px);
    }
    100% {
        -webkit-transform: translateX(0px)
    }
}
@-webkit-keyframes fadein {
    0% {
        -webkit-transform: translateX(320px);
    }
    100% {
        -webkit-transform: translateX(0px)
    }
}
.crumble {
    height: 45px;
    line-height: 45px;
    padding-left: 20px;
    color: #60C900;
    font-size: 16px;
}
/*.brand-item {
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    padding: 5px 0;
    border: 1px solid #eee;
}
.brand-item > img {
    height: 50px;
    margin: 5px auto 8px;
}*/

.j-brand-list {
    float: left;
    border-top: 4px solid #f8f8f8;
    border-left: 4px solid #f8f8f8;
}
.brand-item {
    width: 33.33%;
    box-sizing: border-box;
    float: left;
    line-height: 45px;
    text-align: center;
    border-bottom: 4px solid #f8f8f8;
    border-right: 4px solid #f8f8f8;
}
.brand-item > img {
    height: 50px;
    margin: 8px auto 5px;
}
.series-item, .model-item {
    margin: 0 20px;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #aaa;
}
/*.model-item {
    float: left;
    width: 50%;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    padding: 5px 0;
    border: 1px solid #eee;
}*/

.displacement-item {
    margin: 0 20px;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #aaa;
}