<!DOCTYPE html>
<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta name="viewport" content="minimal-ui,width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <title>摩卡汽车服务</title>
    <!-- build:css -->
    <link rel='stylesheet' href='../css/base.css'>
    <link rel='stylesheet' href='../css/home.css'>
    <link rel="stylesheet" href="../css/service.css">
    <link rel='stylesheet' href='../css/cart.css'>
    <link rel='stylesheet' href='../css/schedule.css'>
    <link rel='stylesheet' href='../css/success.css'>
    <link rel='stylesheet' href='../css/order.css'>
    <!-- endbuild -->
    <!-- build:js -->
    <script src="../js/lib/iScroll-v4.2.5.js"></script>
    <script src="../js/lib/template.js"></script>
    <script src="../js/lib/sea.js"></script>
    <script src="../js/lib/zepto.js"></script>
    <script src="../js/lib/spine.js"></script>
    <script src="../js/lib/route.js"></script>
    <script src="../js/lib/manager.js"></script>
	<script src="../js/lib/wxshare.js"></script>
    <!-- endbuild -->
    <script id="template-loading" type="text/html">
        <div class="spinner">
            <div class="spinner-container container1">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
            <div class="spinner-container container2">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
            <div class="spinner-container container3">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
        </div>
    </script>

    <!-- 摩卡服务首页 - 列表 模板 开始 -->
    <script id="template-home-list" type="text/html">
        {{each services as service i}}
        <li class='service-item'>
            <a href="javascript:void(0)" class="j-nav" data-nav="/service/{{service.id}}/{{next}}">
                <i class="site-icons"><img width="100%" src="{{service.icon}}" alt=""></i>
                <div class="content-area border-bottom">
                    <span class="title">{{service.name}}</span>
                    {{if service.present}}
                    <i class="icon-present"></i>
                    {{/if}}
                    {{if service.discount}}
                    <i class="icon-discount"></i>
                    {{/if}}
                    {{if service.prefer}}
                    <i class="icon-prefer"></i>
                    {{/if}}
                    <span class="price">{{service.price}} 起</span>
                    {{if service.discount}}
                    <span class="origin-price">{{service.originPrice}} </span>
                    {{/if}}
                    <br/>
                    <div class="info">
                        {{service.slogan}}
                        <br/>
                        <span>{{service.description}}</span>
                    </div>
                </div>
            </a>
        </li>
        {{/each}}
    </script>
    <!-- 摩卡服务首页 - 列表 模板 结束 -->
    
    <!-- 摩卡服务首页 模板 开始 -->
    <script id="template-home" type="text/html">
        <div class="j-home-container">
            <div id='mocar-service-home'>
                <div class='logo-area'>
                    <img src="../css/icons/mocar.png" alt="摩卡服务" width="100%">
                </div>
                <ul class='service-list' data-role="service-list">
                    
                </ul>
            </div>
        </div>
    </script>
    <!-- 摩卡服务首页 模板 结束 -->
    <!-- 选车面包屑 模板 开始 -->
    <script id="template-navigator" type="text/html">
        <div class="header">
            {{if brand_id}}
                <span class="j-nav" data-nav="/service/{{service_id}}/brand">{{brand}}</span>
                {{if series_id}}
                    <span class="j-nav" data-nav="/service/{{service_id}}/brand/{{brand_id}}/series">>> {{family}}</span>
                    {{if model_id}}
                        <span class="j-nav" data-nav="/service/{{service_id}}/brand/{{brand_id}}/series/{{series_id}}/model">>> {{model}}</span>
                        <span class="j-nav" data-nav="/service/{{service_id}}/brand/{{brand_id}}/series/{{series_id}}/model/{{model_id}}/displacement">>> 排量</span>
                    {{else}}
                        <span class="j-nav" data-nav="/service/{{service_id}}/brand/{{brand_id}}/series/{{series_id}}/model">>> 年款</span>
                    {{/if}}
                {{else}}
                    <span class="j-nav" data-nav="/service/{{service_id}}/brand/{{brand_id}}/series">>> 车系</span>
                {{/if}}
            {{else}}
                <span class="j-nav" data-nav="/service/{{service_id}}/brand">品牌</span>
            {{/if}}
        </div>
    </script>
    <!-- 选车面包屑 模板 结束 -->
    <!-- 选车品牌 模板 开始 -->
    <script id="template-brand" type="text/html">
        {{include 'template-navigator'}}
        <div class="main mt56px" id="j-brand-container">
            <div class="j-brand-list">
                {{each list as item i}}
                    <div class="brand-item j-nav" data-nav="/service/{{service_id}}/brand/{{item.id}}/series">
                        <img src="{{item.icon}}">
                        <span>{{item.brand}}</span>
                    </div>
                {{/each}}
            </div>
        </div>
    </script>
    <!-- 选车品牌 模板 结束 -->
    <!-- 选车车系 模板 开始 -->
    <script id="template-series" type="text/html">
        {{include 'template-navigator'}}
        <div class="main mt56px" id="j-series-container">
            <div class="j-series-list">
                {{each list as item i}}
                    <div class="series-item j-nav" data-nav="/service/{{service_id}}/brand/{{brand_id}}/series/{{item.id}}/model">
                        <span>{{item.prefix}} {{item.family}}</span>
                    </div>
                {{/each}}
            </div>
        </div>
    </script>
    <!-- 选车车系 模板 结束 -->
    <!-- 选车车型 模板 开始 -->
    <script id="template-model" type="text/html">
        {{include 'template-navigator'}}
        <div class="main mt56px" id="j-model-container">
            <div class="j-model-list">
                {{each list as item i}}
                    <div class="model-item j-nav" data-nav="/service/{{service_id}}/model/{{item.id}}/cart">
                        <span>{{item.model}} {{item.suffix}}</span>
                    </div>
                {{/each}}
            </div>
        </div>
    </script>
    <!-- 选车车型 模板 结束 -->
    <!-- 自行购买/选择摩卡配件 提示框 开始 -->
    <script id="template-buyelsetip" type="text/html">
        <div class="buyelse-popup mocar-tip-popup">
            <div class="title">选择配件</div>
            <div class="popup-content">
                <p style="margin-bottom: 16px;">摩卡提供和使用的所有配件，均可在<span style="color: rgba(131, 199, 80, 0.87);">京东自营</span>商店买到。</p>
                <p style="margin-bottom: 16px;">如果你选择自行购买配件，下单后我们会将对应的配件信息发送给您。</p>
                <p style="margin-bottom: 16px;">摩卡配件价格是完全参照<span style="color: rgba(131, 199, 80, 0.87);">京东自营</span>配件价格哦。</p>
            </div>
            <div class="command-area">
                <a href="javascript:void(0);" class="mocarbtn" style="font-weight: bold;">选择摩卡配件</a>
                <a href="javascript:void(0);" class="buyelsebtn" style="font-weight: bold;">自行购买</a>
            </div>
        </div>
    </script>
    <!-- 自行购买/选择摩卡配件 提示框 结束 -->
    <!-- 选择服务类型 与 配件 页面 模板 -->
    <script id="template-cart" type="text/html">
        <div class="main mb56px" id="j-cart-container">
            <div class="" id='accessories-info' style="padding-top: 8px;padding-bottom:20px">
                <div id='car-info' class='mb20px'>
                    <i class='site-icons icon-car'></i>
                    <div class='content-area form-row'>
                        <p class="accessory info">车辆型号</p>
                        <div class='select-wrapper'>
                            <div class='custom-select-trigger'>
                                <span class='product-name'>
                                {{currentVehicle.prefix}}{{currentVehicle.brand}} {{currentVehicle.family}} {{currentVehicle.model}}
                                </span>    
                            </div>
                            <input type="text" name="carInput" style="display:none">
                            <div class="dropdown"></div>
                        </div>
                    </div>
                </div>
                <div id='service-info' class='mb20px'>
                    <i class='site-icons icon-service'></i>
                    <div class='content-area form-row'>
                        <p class="accessory info">服务项目</p>
                        <div class="select-wrapper">
                            <div class='custom-select-trigger'>
                                <span class='product-name'>{{currentService.name}}</span>
                                <span class='price' data-price='{{currentService.price}}'>{{currentService.price}}&nbsp;</span>    
                            </div>
                            <input type="text" name="serviceInput" style="display:none">
                            <div class="dropdown"></div>
                        </div>
                    </div>
                </div>
                <!-- 配件列表 开始 -->
                {{if (currentService.parts && currentService.parts.length > 0) }}
                <div id='service-detail' class='mb20px'>
                    <i class='site-icons icon-accessory'></i>
                    <div class='content-area'>
                        <ul>
                        {{each currentService.parts as part i}}
                            <li class='form-row' data-part-seq="{{i}}">
                                <p class="accessory info">
                                    {{part.name}}
                                </p>
                                <div class="select-wrapper">
                                {{if (userInputs && userInputs.accessoryInputs && (i = userInputs.accessoryInputs[i])) }}
                                    <div class='custom-select-trigger'>
                                        <span class='product-name'>
                                        {{part.options[i].brand}}
                                        {{part.options[i].name}}
                                        {{part.options[i].extra}}
                                        </span>
                                        <span class='price' data-price='{{part.options[i].price}}'>
                                        {{part.options[i].price}}&nbsp;
                                        </span>
                                    </div>
                                    <input type="text" name="accessoryInput" style="display:none" value="{{i}}">
                                    <div class="dropdown"></div>
                                {{else}}
                                    <div class='custom-select-trigger'>
                                        <span class='product-name'>{{part.options[0].brand}}{{part.options[0].name}} {{part.options[0].extra}}</span>
                                        <span class='price' data-price='{{part.options[0].price}}'>{{part.options[0].price}}&nbsp;</span>
                                    </div>
                                    <input type="text" name="accessoryInput" style="display:none" value="0">
                                    <div class="dropdown"></div>
                                    
                                {{/if}}
                                </div>
                            </li>
                        {{/each}}
                        </ul>
                    </div>
                </div>
                {{/if}}
                <!-- 配件列表 结束 -->
            </div>
        </div>

        <div class='footer'>
            <a href="javascript:void(0);" class="j-nav j-nextstep" data-nav="/service/{{service_id}}/model/{{model_id}}/schedule">
                <i class='site-icons icon-nextstep'></i>
            </a>
            <div class='content-area justify-wrap'>
                <span class='tip justify-content'>总价：<span data-totalprice='{{price}}'>{{currentService.price}}</span> </span>
            </div> 
        </div>
    </script>
    <!-- 预约上门信息 页面 模板 -->
    <script id="template-schedule" type="text/html">
        <div class="j-schedule-container" style="padding-bottom: 56px;">
            <div id='schedule-info'>
                <div id='generalAddress' class='form-row'>
                    <i class="site-icons icon-location"></i>
                    <div class='content-area zero-font-size'>
                        <span class='first border-bottom'>
                            <div class="select-wrapper">
                                <div class='custom-select-trigger'>
                                    <span class='product-name'>{{currentProvince}}</span>  
                                </div>
                                <input type="text" name="provinceInput" style="display:none" value="{{currentProvinceIndex}}">
                                <div class="dropdown"></div>
                            </div>
                        </span>
                        <span class='second border-bottom'>
                            <div class="select-wrapper">
                                <div class='custom-select-trigger'>
                                    <span class='product-name'>{{currentCity}}</span>  
                                </div>
                                <input type="text" name="cityInput" style="display:none" value="{{currentCityIndex}}">
                                <div class="dropdown"></div>
                            </div>
                        </span>
                    </div>
                </div>
                <div id='detailAddress' class='form-row'>
                    <div class='content-area border-bottom'>
                        <input type="text" name='addressInput' id='addressInput' placeholder='输入详细地址' value="{{address}}" maxlength="40" required>
                    </div>
                </div>
                <div  class="error dn" id="addressInput-error">请输入正确的地址信息</div>
                <div id='scheduleTime' class='form-row'>
                    <i class="site-icons icon-time"></i>
                    <div class='content-area zero-font-size'>
                        <span class='first border-bottom'>
                            <div class="select-wrapper">
                                <div class='custom-select-trigger'>
                                    <span class='product-name'>{{currentDay}}</span>  
                                </div>
                                <input type="text" name="dayInput" style="display:none" value="{{currentDayIndex}}">
                                <div class="dropdown"></div>
                            </div>
                        </span>
                        <span class='second border-bottom'>
                            <div class="select-wrapper">
                                <div class='custom-select-trigger'>
                                    <span class='product-name'>{{currentTime}}</span>  
                                </div>
                                <input type="text" name="timeInput" style="display:none" value="{{currentTimeIndex}}">
                                <div class="dropdown"></div>
                            </div>
                        </span>
                    </div>
                </div>
                <!-- 
                <div id='carNo' class='form-row'>
                    <i class="site-icons icon-car"></i>

                    <div class='content-area border-bottom'>
                        <input type="text" placeholder='车牌号，例如京NB520Z' id='carNoInput' name='carNoInput'>
                    </div>
                </div>
                 -->
                <div id='name' class='form-row'>
                    <i class="site-icons icon-user"></i>
                    <div class='content-area border-bottom'>
                        <input type="text" placeholder='姓名' id='nameInput' name='nameInput' value="{{name}}" maxlength="12" required>
                    </div>
                </div>
                <div  class="error dn" id="nameInput-error">请填写真实姓名</div>
                <div id='phoneNumber' class='form-row'>
                    <i class="site-icons icon-phone"></i>
                    <div class='content-area border-bottom'>
                        <input type="tel" placeholder='手机号码' id='phoneInput' name='phoneInput' value="{{phone}}" maxlength="16" required>
                    </div>
                </div>
                <div  class="error dn" id="phoneInput-error">请输入正确的手机号</div>
            </div>
            <div class='footer'>
                <a href="javascript:void(0);" class="j-nav j-nextstep" data-nav="/service/{{service_id}}/model/{{model_id}}/success">
                    <i class='site-icons icon-success'></i>
                </a>
                <div class='content-area justify-wrap'>
                    <span class='tip justify-content'>总价：<span>{{sum}}</span> </span>
                </div> 
            </div>
        </div>
    </script>
    <!-- 预约成功 页面 模板 -->
    <script id="template-success" type="text/html">
        <div class="main">
            <div id='schedule-success'>
                <div id='success-tip' class='success-header'>
                    <i class='site-icons icon-success'></i>
                    <div class='content-area'>
                        <div class='justify'>
                            <span class='tip' style="color: rgba(131, 199, 80, 0.87);font-weight: bold;">预约订单已提交</span>
                            <br>
                            <span class='tip' style="font-size: 14px;color: rgba(255,255,255,0.87);">稍后摩卡客服会联系您确认本次服务的内容，请保持手机通讯畅通。</span>
                        </div>
                    </div> 
                </div>
                <div id="j-success-container" class="main" style="margin-top: 108px">
                    <ul class="order-detail">
                        <li class="order-detail-item order-summary">
                            <p class="line">订单编号： No{{currentOrder.orderId | formatNum: 10}}</p>
                            <p class="line">订单金额： {{currentOrder.sum}} </p>
                            <p class="line">
                                当前状态： <span style="color:rgba(255, 152, 0, 0.87);">待确认</span>
                            </p>
                            <p class="line">预约时间： {{currentOrder.day}}</p>
                        </li>
                        <li class="order-detail-item order-contact">
                            <p class="line">
                                联系人： {{currentOrder.name}}
                                <span class="fr order-phone">{{currentOrder.phone}}</span>
                            </p>
                            <p class="line order-address">{{currentOrder.province}}{{currentOrder.city}}{{currentOrder.address}}</p>
                        </li>
                        <li class="order-detail-item order-model">
                            <p class="line">
                                {{currentVehicle.prefix}}{{currentVehicle.brand}} {{currentVehicle.family}} {{currentVehicle.model}}
                            </p>
                        </li>
                        {{each currentOrder.services as service i}}
                        <li class="order-detail-item order-service">
                            <p class="line service-name">
                                {{currentService.name}}
                                <span class="fr">{{currentService.price}}</span>
                            </p>
                            <ul class="service-parts">
                                {{each currentService.parts as part i }}
                                    <li class="service-part">
                                        <h5 class="service-part-type">{{part.name}}</h5>
                                        {{each part.options as option j}}
                                            {{if (option.id == currentOrder.services[0].parts[i].id)}}
                                            <p class="line">
                                                {{option.brand}}{{option.name}} {{option.extra}}
                                                <span class="fr">{{option.price}} </span>
                                            </p>
                                            {{/if}}
                                        {{/each}}
                                    </li>
                                {{/each}}
                            </ul>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class='footer dn'>
            <a href="javascript:void(0);" class="j-nav" data-nav="/home">
                <i class='site-icons icon-home'></i>
            </a>
            <div class='content-area justify-wrap'>
                <span class='tip justify-content'>总价：<span>{{currentOrder.sum}}</span> </span>
            </div> 
        </div>
    </script>
    <!-- 我的订单 页面 模板 -->
    <script id="template-user-order-list" type="text/html">
        <div class="main" id="j-user-order-list-container">
            <ul class="order-list">
                {{each list as order i}}
                <li class="order-summary j-nav" data-nav="/orders/{{order.id}}">
                    <h4 class="order-title">{{order.title}}</h4>
                    <p class="order-id">No{{order.id | formatNum: 10}}</p>
                    <p class="order-model">{{order.model}}</p>
                    <p class="order-date">{{order.year}}年{{order.month}}月{{order.day}}日</p>
                    <p class="order-status {{order.statusInfo.name}}">{{order.statusInfo.desc}}</p>
                </li>
                {{/each}}
            </ul>
        </div>
    </script>
    <!-- 订单详情 页面 模板 -->
    <script id="template-user-order" type="text/html">
        <div class="main" id="j-user-order-container">
            <ul class="order-detail">
                <li class="order-detail-item order-summary">
                    <p class="line">订单编号： No{{order.id | formatNum: 10}}</p>
                    <p class="line">订单金额： {{order.sum}} </p>
                    <p class="line">
                        当前状态： 
                        <span class="order-status {{order.statusInfo.name}}">{{order.statusInfo.desc}}</span>
                    </p>
                    <p class="line">预约时间： {{order.year}}-{{order.month}}-{{order.day}} {{order.period}}</p>
                </li>
                <li class="order-detail-item order-contact">
                    <p class="line">
                        联系人： {{order.name}}
                        <span class="fr order-phone">{{order.phone}}</span>
                    </p>
                    <p class="line order-address">{{order.fullAddress}}</p>
                </li>
                <li class="order-detail-item order-model">
                    <p class="line">{{order.model}}</p>
                </li>
                {{each order.services as service i}}
                <li class="order-detail-item order-service">
                    <p class="line service-name">
                        {{service.name}}
                        <span class="fr">{{service.price}}</span>
                    </p>
                    <ul class="service-parts">
                        {{each service.parts as part i}}
                        <li class="service-part">
                            <h5 class="service-part-type">{{part.type}}</h5>
                            <p class="line">
                                {{part.name}}
                                <span class="fr">{{part.price}} </span>
                            </p>
                        </li>
                        {{/each}}
                    </ul>
                </li>
                {{/each}}
				{{each order.attachments as attachment i}}
				<a href="{{attachment.uri}}">
				<li class="order-detail-item order-attachments">
                    <p class="line">{{attachment.name}}</p>
                </li>
				</a>
				{{/each}}
            </ul>
        </div>
    </script>
</head>

<body>

    <!-- main-container是所有内容的容器，保持在页面中居中，通过控制main-container的宽度可以实现响应式 -->
    <div id="main-container" class="main-container">
        <div class="page-container moveout" id='car-home'></div>
        <div class="page-container moveout" id='car-brand'></div>
        <div class="page-container moveout" id='car-series'></div>
        <div class="page-container moveout" id='car-model'></div>
        <div class="page-container moveout" id='car-cart'></div>
        <div class="page-container moveout" id='car-schedule'></div>
        <div class="page-container moveout" id='car-success'></div>
        <div class="page-container moveout" id='user-order-list'></div>
        <div class="page-container moveout" id='user-order'></div>
    </div>

    <script>
    seajs.config({
        base: '../js',
        alias: {
            "mock": "lib/mock.js"
        }
    })
    // seajs.use('mockAjax', function() {});

    seajs.use("page/index");
    </script>
	<script>
    (function() {
    	var title = "摩卡上门修车 快速预约通道";
    	var img = "http://static.mocar.cn/images/logo_medium_dark.png";
    	var link = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxf11a985d46739ec5&redirect_uri=http%3A%2F%2Fapp.mocar.cn%2Fmobile%2Fhtml%2Findex.html&response_type=code&scope=snsapi_base#wechat_redirect";
    	var desc = "最专业服务/最亲民价格\n\n回归80年代老工匠严谨态度     摩卡  懂你   爱车";
    	wx_share_out(title,img,link,desc);
    })();
    </script>

</body>

</html>
